<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>秒杀商品列表</title>
</head>
<body>
    <h2>Hello</h2>
    <div th:unless="${#lists.isEmpty(goodsVOList)}">
        <table class="table" id="goodslist">
            <tr>
                <td>商品名称</td>
                <td>商品原价</td>
                <td>秒杀价</td>
                <td>库存数量</td>
                <td>详情</td>
            </tr>
            <tr th:each="goodsVO,goodsStat : ${goodsVOList}">
                <td th:text="${goodsVO.name}"></td>
                <td th:text="${goodsVO.price}"></td>
                <td th:text="${goodsVO.seckillPrice}"></td>
                <td th:text="${goodsVO.seckillStock}"></td>
                <td><a th:href="'/goods/to_goods_detail?goodsId=' + ${goodsVO.id}">详情</a></td>　　　
            </tr>
        </table>
    </div>
</body>
</html>