<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
    <h2>Hello</h2>
    <div th:unless="${#lists.isEmpty(users)}">
        <dl th:each="user : ${users}">
            <dt class="bookHeadline">
                <span th:text="${user.id}">Title</span> by
                <span th:text="${user.username}">Author</span>
            </dt>
        </dl>
    </div>
</body>
</html>